@tailwind base;
@tailwind components;
@tailwind utilities;

.grad-style {
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left,rgba(255,0,0,0), #feebc8, #744210, #feebc8,rgba(255,0,0,0));
  background-image: -moz-linear-gradient(left,rgba(255,0,0,0), #feebc8, #744210, #feebc8,rgba(255,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(255,0,0,0), #feebc8, #744210, #feebc8,rgba(255,0,0,0));
  background-image: -o-linear-gradient(left,rgba(255,0,0,0), #feebc8, #744210, #feebc8,rgba(255,0,0,0)); 
}

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-funky {
 text-shadow:
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}
}
